<div class="header">
  <div class="container">
  	<div class="row">
      <div class="col-md-4">
        <h2>Julian Jose</h2>
      </div>
      <div class="col-md-8">
        <ul>
          <li>Portfolio</li>
          <li>Services</li>
          <li>Blog</li>
          <li>About me</li>
          <li>Contact</li>
          <li>Next step...</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="main">
  <div class="container">
    <h1>Hello. My name is Julian and I have creative ideas and build websites</h1>
    <!-- button -->
    <!-- set background in css -->

  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="pull-right">
      <a href="#"><img src="https://cdn-images-1.medium.com/max/400/1*_5pYAhDFrWB0NZwW_bKccw.png"/></a>
      <a href="#"><img src="https://sitecues.com/wp-content/uploads/2015/04/twitter.png"/></a>
      <a href="#"><img src="http://www.marketingjava.com/wp-content/uploads/2011/08/youtube-icon.png"/></a>  
      <p>CopyRight 2016 Damian</p>
    </div>
  </div>
</div>
